[mysqld]
log-bin=mysql-bin
binlog_do_db={{ dbname }}
{% if mysql_repl_role == 'master' %}
server-id={{ master_server_id }}
innodb_flush_log_at_trx_commit=1
sync_binlog=1
{% else %}
server-id={{ slave_server_id }}
relay-log=mysqld-relay-bin
{% endif %}